<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Submitted Information</h1>
  <ul class="list-group">
    <li class="list-group-item">Name:  <%= context.name %></li>
    <li class="list-group-item">Dojo Location:  <%= context.location %></li>
    <li class="list-group-item">Favorite Language:  <%= context.language %></li>
    <li class="list-group-item">Comment:  <%= context.comment %></li>
  </ul>
  <a href="/" class="btn btn-info" role="button">GO BACK</a>
</div>

</body>
</html>
